repos:
 - repo: https://github.com/pre-commit/pre-commit-hooks 
   rev: v4.5.0 
   hooks:
    - id: check-yaml
    - id: end-of-file-fixer 
    - id: check-added-large-files 
      args: ['--maxkb=500']
    - id: check-ast 
 
 - repo: https://github.com/gitleaks/gitleaks
   rev: v8.18.0 
   hooks: 
    - id: gitleaks
  
 - repo: https://github.com/PyCQA/bandit
   rev: 1.7.5 
   hooks:
    - id: bandit
      args: ["-ll"]

# - repo: https://github.com/pyupio/safety
 #  rev: v3.2.11
  # hooks:
   # - id: safety
